body {
    font-family: Chivo Mono, Roboto, Arial;
    height: 100vh;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 72px;
}

#intro-content {
    text-align: center;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 32px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
    flex: 1;
    border: 2px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
}

#welcome-text {
    color: white;
    font-size: 2.4rem;
}

#input-container{
    display: flex;
    width: 65%;
    height: 36px;
}

#query-input{
    flex: 4;
    border: 1px solid green;
    border-radius: 6px;
    box-shadow: 0px 0px 3px;
    padding-left: 10px;
    margin-right: 18px;
    font-size: 1.1rem;
}

#query-input::placeholder {
    font-size: 1.1rem;
    color: green;
}

#scan-button {
    flex: 1;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#main-content {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

#results-section {
    flex: 2;
}

#fetch-results-heading {
    color: gray;
    font-size: 1.5rem;
    animation: "pulse 5s infinite";
}

#show-results-heading {
    color: gray;
    font-size: 1.3rem;
}

#results-row {
    display: flex;
    justify-content: space-between;
    column-gap: 72px;
}

#results-container {
    margin-top: 20px;
    border-radius: 12px;
    padding: 12px;
    border: 2px solid green;
    flex: 1;
}

#export-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#export-results {
    border: 1px solid green;
    border-radius: 6px;
    font-size: 1.0rem;
    cursor: pointer;
    background-color: green;
}
.export-text {
    color: white;
    margin-right: 10px;
}

.download-button {
    color: white;
}

.result {
    border-bottom: 1px solid green;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.subdomain-row {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}

.subdomain {
    font-size: 1.1rem;
    color: white;
    flex: 4;
}

.show-ports-btn {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    height: 28px;
    font-size: 0.9rem;
    flex: 1;
}

.ports-container {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.show-ports {
    flex: 4;
    height: 88px;
    /*overflow: scroll;*/
}

.port {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
}

.port:hover {
    background-color: rgba(211, 211, 211, 0.4);
}

.port-number {
    color: white;

}

.open-status {

}

#text-span {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: green;
}

#crusty-message {
    border: none;
    border-radius: 12px;
    text-align: center;
    width: 75%;
    margin-top: 24vh;
}

.open-port {
    color: green;
}

.closed-port {
    color: red;
}

.fetching-plans {
    animation: "pulse 5s infinite";
}

@media(max-width: 500px) {
    body {
        padding-left: 0px;
    }
    #main-content {
        flex-direction: column;
        align-items: center;
    }
    #query-input {
        width: 100%;
    }
    #welcome-text {
        font-size: 1.4rem;
    }
    #results-section {
        width: 80%;
    }
    #fetch-results-heading {
        font-size: 1.4rem;
        text-align: center;
    }
    #show-results-heading {
        font-size: 1.2rem;
        text-align: center;
    }

    #text-span {
        padding: 0px;        
    }
    #crusty-message {
        font-size: 1.2rem;
        margin: 50px;
    }
}

@media(min-width: 501px) and (max-width: 750px) {
    body {
        padding-left: 0px;
    }
    #main-content {
        align-items: center;
    }
    #query-input {
        width: 100%;
    }
    #intro-content {
        width: 80%;
        padding: 10px;
    }
    #welcome-text {
        font-size: 1.4rem;
    }
    #results-section {
        width: 80%;
        padding-left: 20px;
    }
    #fetch-results-heading {
        font-size: 1.4rem;
    }
    #show-results-heading {
        font-size: 1.2rem;
    }

    #text-span {
        padding: 0px;        
    }
    #crusty-message {
        font-size: 1.2rem;
        margin: 50px;
    }
}
